/** @format */
* {
  box-sizing: border-box;
}
body {
  font-family: Roboto;
}
ul li {
  list-style-type: none;
}
header {
  display: flex;
  background-color: #0c0f38;
  font-family: Roboto;
}
nav ul li {
  list-style: none;
  display: flex;
  display: inline-block;
}
li {
  text-decoration: none;
}
nav ul li + li {
  padding-left: 50px;
}
nav a {
  text-decoration: none;
  color: #fff;
}
.innit {
  font-family: Roboto;
  background-color: #0c0f38;
}
.innit div {
  display: inline-block;
  justify-content: center;
}
.innit div div h1 {
  color: #fff;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}
.innit div div h2 {
  color: #fdd430;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
.innit div div p {
  width: 414.06px;
  height: 75px;
  color: #fff;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.button {
  position: absolute;
  border: none;
  background-color: #fff;
  padding: 15px 39px;
  color: #000;
}
.tou {
  font-family: Roboto;
}
.tou div h2 {
  color: #0c0f38;
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.tou div p {
  width: 990px;
  height: 75px;
  color: #0c0f38;
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
}
.init {
  font-family: Poppins;
  background-color: #0c0f38;
}
.init h2,
h3 {
  color: #fff;
}
.init p {
  width: 265.3px;
  height: 71px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}
.init div ul li {
  border-radius: 20px;
  border: 2px solid #cecfd7;
  display: flex;
  width: 350px;
  padding: 42px 42.25px 43px 42.45px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.init div ul li p {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}
.init button {
  position: absolute;
  border: none;
  padding: 13px 52px;
  background-color: #fff;
}
.titile {
  position: relative;
  font-family: Poppins;
  display: flex;
  justify-content: center;
  margin: 0px -30px;
}
.titile div div h2 {
  color: #0c0f38;
  text-align: center;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
}
.titile div div p {
  color: #090808;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  width: 1097.58px;
}
.titile div div ul li {
  margin: 0px 30px;
  display: inline-block;
}
.titile div div ul li h3 {
  color: #090808;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.titile div div ul li p {
  color: #090808;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  width: 301.92px;
  height: 143px;
}
.titile div div ul li a {
  padding: 12px 51px;
  text-decoration: none;
  background-color: #090808;
  color: #fff;
}
footer {
  font-family: Poppins;
  background-color: #0c0f38;
  height: 658px;
}
footer div h2 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
}
footer div h3 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
footer div .footer__end {
  align-items: flex-end;
  color: #fff;
}
footer div .footer__end div {
  justify-content: center;
  width: 650px;
  height: 84px;
  text-align: center;
  justify-content: start;
}
.footer__top .bitton__ty {
  position: absolute;
  border-radius: 5px;
  font-family: Montserrat;
  background-color: #fabb04;
  padding: 17px 30px;
}
.footer__top {
  background-color: #0c0f38;
  border-radius: 30px;
}
form input {
  display: flex;
  border-radius: 15px;
  padding: 14px 20px;
  margin-bottom: 20px;
  width: 430px;
  height: 52px;
  color: #999;
  font-family: Poppins;
}
